@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  @apply leading-tight lg:text-xl;
}

h2 {
  @apply font-bold text-xl leading-none;
}

ol {
  counter-reset: item;
  @apply list-decimal pl-5 space-y-4;
  ol {
    @apply mt-4 pl-0;
    li {
      @apply list-none relative pl-7;
      list-style: none;
      &::before {
        content: counters(list-item, '.') ' ';
        counter-increment: item;
        position: absolute;
        left: 0;
      }
    }
  }
}

form {

  input, textarea {
    @apply flex rounded-md px-3 text-black font-normal w-full focus:outline-none;
  }
  
  input {
    @apply py-0 h-9;
  }
  
  textarea {
    @apply py-2 h-44;
  }
  
  button {
    /* box-shadow: inset 0px 1px 0px 0px #073a67;
    background:linear-gradient(to bottom, #094a85 5%, #05294a 100%);
    background-color:#094a85; */
    @apply bg-gradient-to-t from-blue-950 to-blue-800 border border-blue-800 rounded-md text-white flex items-center justify-center h-9 w-full font-bold uppercase;
  }

  .button {
    /* box-shadow: inset 0px 1px 0px 0px #073a67;
    background:linear-gradient(to bottom, #094a85 5%, #05294a 100%);
    background-color:#094a85; */
    @apply bg-gradient-to-t from-orange-400 to-orange-600 border border-orange-400 rounded-r text-white flex items-center justify-center h-9 w-full font-semibold cursor-pointer;
  }
  
}

.bg-image {
  @apply bg-no-repeat bg-cover bg-center bg-fixed;
  &:before {
    @apply bg-[#031c38] block absolute content-[''] w-full h-full inset-0 opacity-70;
  }
}

.bg-aviso {
  background-image: url('/images/aviso-de-privacidad.jpg');
}

.bg-nuestra-empresa {
  background-image: url('/images/nuestra-empresa.jpg');
}


